{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="container py-5">
        <div class="section-box">
            <h1 class="section-title">About Me</h1>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/pfp.jpg') }}" alt="Samuel Jarnet" class="img-fluid rounded-circle shadow" />
                </div>
                <div class="col-md-8">
                    <p class="lead">I'm Samuel, a student at the University of Southampton studying Computer Science with Artificial Intelligence. I enjoy building projects and producing practical software, alongside working with hardware such as the Raspberry Pi to host and store my projects and ideas. I have experience in multiple programming languages with my main focus on Python and Java, but recently I have been learning about Dart and full-stack app design integrated with Firebase. </p>
                    <p class="lead">My personal projects I have showcased on my Projects page have strengthened my skills in software design, data handling and user interfaces, along with learning about how to apply my knowledge of programming languages learnt in University to real-world problems.</p>
                    <p class="lead">I have also gained experience in teamwork and communication through my time at Code Ninjas, where I tutored children various programming languages and helped them apply them to tricky challenges. To improve my leadership skills, I led multiple coding camps over summer holidays and worked in a team to organise these events and create fun and challenging problems. </p>
                    <p class="lead">I'm motivated, excited and ready to take on some more real world problems and aim to apply my skills in a summer internship (2027), contributing to real-world projects to learn as a developer. If you wish to take the time to look through my Linkedin or send me an email there are links below to contact me anytime!</p>

                    <p class="mt-4">
                        <a class="btn btn-primary" href="https://github.com/SamJarnet" target="_blank">GitHub</a>
                        <a class="btn btn-primary" href="https://www.linkedin.com/in/samuel-jarnet-59842728a/" target="_blank">Linkedin</a>
                        <a class="btn btn-outline-light" href="mailto:samueljarnet2006@gmail.com">Email Me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
