{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="container py-5">
        <div class="section-box">
            <h1 class="section-title">About Me</h1>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/pfp.jpg') }}" alt="Samuel Jarnet" class="img-fluid rounded-circle shadow" />
                </div>
                <div class="col-md-8">
                    <p class="lead">I'm Samuel, a student at the University of Southampton studying Computer Science with Artificial Intelligence. I enjoy building projects and tinkering with hardware. I have experience in multiple programming languages with my main focus on Python and Java. I've also built many computers for myself, friends and family and have knowledge of both Windows and Linux systems.</p>
                    <p class="mt-4">
                        <a class="btn btn-primary" href="https://github.com/SamJarnet" target="_blank">GitHub</a>
                        <a class="btn btn-primary" href="https://www.linkedin.com/in/samuel-jarnet-59842728a/" target="_blank">Linkedin</a>
                        <a class="btn btn-outline-light" href="mailto:sam@example.com">Email Me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
