{% extends "base.html" %}

{% block content %}
<header class="py-5 text-center">
    <div class="container">
        <div class="intro-box p-4">
        <h1 class="display-4">I'm Samuel Jarnet</h1>
        <p class="lead">Student developer at University of Southampton</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Skills</h2>
                <ul>
                    <li>Java Programming — Object-Oriented Design</li>
                    <li>Python — GUI and Database Integration</li>
                    <li>Linux and Self-Hosting using Raspberry PI</li>
                    <li>Team Collaboration & Research</li>
                    <li>Hardware knowledge from building and upgrading many systems</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2 class="mb-4">Achievements</h2>
                <ul>
                    <li>Studying at a top Russel Group University: University of Southampton</li>
                    <li>Achieved First Class grade in Year 1 of University</li>
                    <li>A* A* A in A Levels</li>
                    <li>I tutored children from ages 7-14 the JavaScript and C# coding language with Code Ninjas</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Featured Projects</h2>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">Java Boid Simulation</h5>
                        <p class="card-text">A Java-based simulation of boids based on the Stanford method. Uses the Swing library for GUI.                     
                        </p>
                        <a href="https://github.com/SamJarnet/Java-Hangman-Game" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">MP3 Player Recommender</h5>
                        <p class="card-text">Python project with GUI and SQLite. Recommends music using user preferences and queues.</p>
                        <a href="https://github.com/SamJarnet/MP3-Player-Recommendation" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
