<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Samuel Jarnet</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project Interface
          </a>
          <ul class="dropdown-menu dropdown-menu-dark custom-dropdown-menu" aria-labelledby="projectsDropdown">
            <li><a class="dropdown-item" href="/trading">Trading Interface</a></li>
            <li><a class="dropdown-item" href="/boids">Boids Simulator</a></li>
            <li><a class="dropdown-item" href="/motion">Computer Vision Analytics</a></li> 
            <li><a class="dropdown-item" href="/music">MP3 Player</a></li> 
            <li><a class="dropdown-item" href="/rl">RL Lab</a></li>

          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>