{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="container py-5">
        <h1 class="mb-4 section-title">Projects</h1>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">Java Hangman Game</h5>
                        <p class="card-text">Console-based Java game that adapts difficulty dynamically. Includes OOP structure and scoring.</p>
                        <a href="https://github.com/SamJarnet/Java-Hangman-Game" class="btn btn-primary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">MP3 Player Recommendation System</h5>
                        <p class="card-text">Python GUI app that recommends music using queueing, login auth, and file system storage.</p>
                        <a href="https://github.com/SamJarnet/MP3-Player-Recommendation" class="btn btn-primary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">This website!</h5>
                        <p class="card-text">First website project to showcase my achievements and work-in-progress projects and research.</p>
                        <a href="https://github.com/SamJarnet/Personal-Website" class="btn btn-primary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card custom-card text-light">
                    <div class="card-body">
                        <h5 class="card-title">Java Boids Simulation</h5>
                        <p class="card-text">Java Swing Library GUI Boids simulation inspired by flocking behavior in nature.</p>
                        <a href="https://github.com/SamJarnet/Java-Boids-Simulation" class="btn btn-primary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
